aside {
	display:block;
	float:right;
	margin-left:8px;
	margin-right:0px;
}
aside[data-side="left"] {
	float:left;
	margin-left:0px;
	margin-right:8px;
}

@media (max-width:1000px) {
	aside, aside[data-side] {
		float:none;
		margin:auto;
		text-align:center;
	}
	aside, aside > iframe, aside > img {
		max-width:100%;
	}
}
