@charset "UTF-8";

a, a:visited {
	color: #267AD9;
}
a:active {
	color: #CC0000;
}
a img {
	border: 0 none transparent;
}

button, *[role="button"] {
	background-color: #fafafa;
	
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	
	color: #666666;
	text-decoration: none;
	text-align: center;
	cursor:pointer;
	
	display:inline-block;
	margin: 4px;
	padding: 8px 12px;
	border: 0;
	outline: 0;
	
	-webkit-user-select:none;
	 -khtml-user-select:none;
	   -moz-user-select:none;
	        user-select:none;
}
	button:hover, *[role="button"]:hover, a.card:hover {
		background-color: #ffffff;
	}
	button:active, *[role="button"]:active, a.card:active {
		background-color: #f0f0f0;
	}
	button:disabled, select:disabled, *[role="button"].disabled {
		background-color: #fafafa;
		-moz-opacity: 0.6;
			 opacity: 0.6;
		cursor: default;
	}
	#header button, #message button {
		background-color: transparent;
		width: 36px;
		height: 36px;
		padding: 4px;
		margin: -4px;
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
		        border-radius: 50%;
		vertical-align: bottom;
	}
		#header button, #header button:enabled:hover, #header button:enabled:active,
		#message button, #message button:enabled:hover, #message button:enabled:active {
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
			        box-shadow: none;
		}
		#header button:enabled:hover, #message button:enabled:hover {
			background-color: rgba(0, 0, 0, 0.075);
		}
		#header button:enabled:active, #message button:enabled:active {
			background-color: rgba(0, 0, 0, 0.15);
		}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], textarea {
	-webkit-appearance:none;
	   -moz-appearance:none;
	
	padding: 4px 0;
	
	background-color: transparent;
	
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #757575;
	outline: 0 none transparent;
}
textarea {
	border-width: 1px;
	padding: 4px;
}
	input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus {
		padding-bottom: 3px;
		border-bottom-width: 2px;
		border-color: #267AD9;
		outline: 0 none transparent;
	}

hr {
	border-style: solid none none;
	border-color:#E5E5E5;
}
#nav hr {
	border-color: #C0C0C0;
}
section ol, section ul {
	margin-top:0.5em;
	padding-left: 20px;
}

.middle table {
	width: 100%;
	margin: 0 -1px;
	
	border-spacing: 0;
	border-collapse: collapse;
	border: 0 none transparent;
}
	.middle table th, .middle table td {
		padding: 3px 4px;
	}
	.middle table th {
		border: 1px solid #909090;
	}
	.middle table td {
		border: 1px solid #b8b8b8;
	}
table.borderless th, table.borderless td {
	border: 0 none;
}

#message {
	background-color:#FEFDD5;
	text-align: center;
	vertical-align:middle;
	width: 100%;
	max-width: 640px;
	margin: -36px auto -18px;
	padding: 8px;
	position:relative;
	
	z-index: 3;
}
	#message .closeButton {
		float:right;
		margin: -6px -6px 4px 4px;
	}
