@charset "UTF-8";

html {
	height:100%;
}
body {
	min-height:100%;
	position:relative;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	margin:0px;
	padding-top:68px;
	padding-bottom:104px;
	
	/*background-color:#F1F2F4; /* hsl(210,11%,95%) */
	background-color:#FAFBFC;
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	
	-webkit-transition-property:padding;
	   -moz-transition-property:padding;
	    -ms-transition-property:padding;
	     -o-transition-property:padding;
	        transition-property:padding;
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
	-webkit-transition-timing-function:linear;
	   -moz-transition-timing-function:linear;
	    -ms-transition-timing-function:linear;
	     -o-transition-timing-function:linear;
	        transition-timing-function:linear;
}

a, a:visited {
	color:#003EA8;
}
a:active {
	color:#CC0000;
}
a img {
	border:0 none transparent;
}

button, select:not([size]), .button {
	background-color:#EDEDED;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));
	background-image:-webkit-linear-gradient(top, #FFFFFF, #DDDDDD);
	background-image:   -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
	background-image:    -ms-linear-gradient(top, #FFFFFF, #DDDDDD);
	background-image:     -o-linear-gradient(top, #FFFFFF, #DDDDDD);
	background-image:  linear-gradient(to bottom, #FFFFFF, #DDDDDD);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD', GradientType=0)";
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD', GradientType=0);
	
	border-style:solid;
	border-width:1px;
	border-color:rgb(171,171,171);
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	
	-webkit-box-shadow:1px 1px 0px 0px white, inset 1px 1px 0px 0px white;
	   -moz-box-shadow:1px 1px 0px 0px white, inset 1px 1px 0px 0px white;
	        box-shadow:1px 1px 0px 0px white, inset 1px 1px 0px 0px white;
	
	color:black !important;
	text-shadow:1px 1px 0px white;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	text-align:center;
	padding:3px 6px;
	
	-webkit-user-select:none;
	 -khtml-user-select:none;
	   -moz-user-select:none;
	        user-select:none;
	
	display:inline-block;
	
	cursor:pointer;
}
button:enabled:active, select:not([size]):enabled:active, .button:active, button.active, .button.active {
	background-color:#C3C3C3;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#AAAAAA), to(#E5E5E5));
	background-image:-webkit-linear-gradient(top, #AAAAAA, #E5E5E5);
	background-image:   -moz-linear-gradient(top, #AAAAAA, #E5E5E5);
	background-image:    -ms-linear-gradient(top, #AAAAAA, #E5E5E5);
	background-image:     -o-linear-gradient(top, #AAAAAA, #E5E5E5);
	background-image:  linear-gradient(to bottom, #AAAAAA, #E5E5E5);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#E5E5E5',GradientType=0)";
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#E5E5E5',GradientType=0);
	
	-webkit-box-shadow:1px 1px 0px 0px white;
	   -moz-box-shadow:1px 1px 0px 0px white;
	        box-shadow:1px 1px 0px 0px white;
}
button:disabled, select:not([size]):disabled, .button:disabled {
	-moz-opacity:0.6;
	     opacity:0.6;
	cursor:default;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], textarea {
	-webkit-appearance:none;
	   -moz-appearance:none;
	
	padding:2px 10px;
	
	border-style:solid;
	border-width:1px;
	border-right-color:#C3C3C3;
	border-bottom-color:#C3C3C3;
	border-left-color:#A7A7A7;
	border-top-color:#A7A7A7;
	-webkit-border-radius:12px;
	   -moz-border-radius:12px;
	        border-radius:12px;
	
	-webkit-box-shadow:inset 2px 3px 2px 0px rgba(0,0,0,0.1), 1px 1px 0px 0px white;
	   -moz-box-shadow:inset 2px 3px 2px 0px rgba(0,0,0,0.1), 1px 1px 0px 0px white;
	        box-shadow:inset 2px 3px 2px 0px rgba(0,0,0,0.1), 1px 1px 0px 0px white;
	
	background-color:white;
	color:black;
}
textarea {
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
	        border-radius:8px;
	padding:4px 6px;
}
input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus {
	padding:1px 9px;
	border-width:2px;
	border-color:green;
	outline-style:none;
	outline-color:transparent;
}
textarea:focus {
	padding:3px 5px;
}

hr {
	border-style:solid none none;
	border-color:#E5E5E5;
}
#main hr, #leftSide hr {
	border-color:#C0C0C0;
}

section h1 {
	font-size:2em;
	margin:0em;
}
section h3 {
	margin-bottom:0em;
}
section p {
	margin-top:0.5em;
}
section ol, section ul {
	margin-top:0.5em;
	padding-left: 20px;
}
