#leftSide .extIcon {
	display:block;
	width:128px;
	height:128px;
	margin:auto;
}

#description {
	white-space:pre-wrap;
}

.rating {
	height:8px;
	/*width:90%;*/
	width:144px;
	margin:1em auto;
	
	background-color:white;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	overflow:hidden;
}
.rating .likes, .rating .dislikes {
	height:100%;
	-webkit-box-shadow:0px 0px 1px 1px white;
	   -moz-box-shadow:0px 0px 1px 1px white;
	        box-shadow:0px 0px 1px 1px white;
}
.rating .dislikes {
	float:left;
	background-color:#E80000;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#E81008', endColorstr='#A01008', GradientType=0)";
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E81008', endColorstr='#A01008', GradientType=0);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#E81008), to(#A01008));
	background-image:-webkit-linear-gradient(#E81008, #A01008);
	background-image:   -moz-linear-gradient(#E81008, #A01008);
	background-image:    -ms-linear-gradient(#E81008, #A01008);
	background-image:     -o-linear-gradient(#E81008, #A01008);
	background-image:        linear-gradient(#E81008, #A01008);
}
.rating .likes {
	float:right;
	background-color:#00A000;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B000', endColorstr='#008000', GradientType=0)";
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B000', endColorstr='#008000', GradientType=0);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#00B000), to(#008000));
	background-image:-webkit-linear-gradient(#00B000,#008000);
	background-image:   -moz-linear-gradient(#00B000,#008000);
	background-image:    -ms-linear-gradient(#00B000,#008000);
	background-image:     -o-linear-gradient(#00B000,#008000);
	background-image:        linear-gradient(#00B000,#008000);
}
.ratingCount {
	font-size:smaller;
	margin-top:-1em;
}
