@charset "UTF-8";

/* This stylsheet is for elements used exclusively on the landing page. */

ul.grid {
	text-align: center;
	list-style-type: none;
	margin: -24px;
	padding: 8px;
}
ul.grid > li {
	display:inline-block;
	overflow:hidden;
	width: 47%;
	height: 96px;
	margin: 8px;
	vertical-align: top;
	text-align: left;
}
ul.grid > li.big {
	min-height: 192px;
}
ul.grid > li:not(.big) {
	white-space: nowrap;
	white-space: ellipsis;
}

ul.grid > li h1, ul.grid > li h2, ul.grid > li h3 {
	margin:0.5em 0em;
}

/* Top extensions list */
ul.extlist {
	list-style-type: none;
	padding: 0;
}
ul.extlist > li {
	display: inline-block;
	width: 49%;
	height: 64px;
	margin-bottom: 0.3em;
	overflow: hidden;
	text-overflow: ellipsis;
	
	vertical-align: top;
}
ul.extlist > li img {
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 4px;
}
ul.extlist > li h3 {
	margin: 0.25em 0 0;
}
ul.extlist > li div {
	font-size: small;
	margin: -0.25em 0;
	height: 3em;
	overflow: hidden;
}

@media (max-width: 900px) {
	ul.grid > li {
		display:block;
		width:95%;
		margin: 16px auto;
	}
}
@media (max-width: 450px) {
	ul.grid > li img {
		display: none;
	}
}
@media (max-width: 300px) {
	ul.extlist > li {
		width: 100%;
	}
	ul.extlist > li img {
		display: block;
	}
}
@media (max-width: 200px) {
	ul.extlist > li img {
		display: none;
	}
}
