/* This stylesheet controls the appearance of text in various elements
 * in the Wave Extensions Gallery.
 */

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	
	color: #212121;
	color: rgba(0, 0, 0, 0.87);
}
input, button, select {
	font: inherit;
}
h1, h2 {
	margin: 0;
}
h1 {
	font-size: 24px;
	font-weight: 400;
}
	h1.big {
		font-size: 56px;
		margin-bottom: 16px;
	}
h2 {
	font-size: 20px;
	font-weight: 500;
}
h3 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0;
}
h4 {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0;
}
p {
	margin-top: 0.5em;
}
nav h4 {
	margin-left: 24px;
}
nav ul li a {
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}
	nav ul ul li a, nav ul.small li a {
		font-size: 16px;
	}
footer {
	font-size: 12px;
}
