/* This stylesheet controls the appearance of text in various elements
 * in the Wave Extensions Gallery.
 */

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	
	color: #212121;
	color: rgba(0, 0, 0, 0.87);
}
input, button, select {
	font: inherit;
}
h1 {
	font-size: 24px;
	font-weight: 400;
}
h2 {
	font-size: 20px;
	font-weight: 500;
}
nav ul li a {
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}
	nav ul ul li a {
		font-size: 16px;
	}
footer {
	font-size: 12px;
}