@charset "UTF-8";

header#header {
	display:block;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:68px;
	
	white-space:nowrap;
	
	font-size:14px;
	
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	padding:15px 16px;
	
	border-bottom:1px solid #93ABC3;
	
	background-color:#C1D9F4;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#C9E2FC), to(#B9D1EC));
	background-image:-webkit-linear-gradient(top, #C9E2FC, #B9D1EC);
	background-image:   -moz-linear-gradient(top, #C9E2FC, #B9D1EC);
	background-image:    -ms-linear-gradient(top, #C9E2FC, #B9D1EC);
	background-image:     -o-linear-gradient(top, #C9E2FC, #B9D1EC);
	background-image:  linear-gradient(to bottom, #C9E2FC, #B9D1EC);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9E2FC', endColorstr='#B9D1EC', GradientType=0)";
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9E2FC', endColorstr='#B9D1EC', GradientType=0);
	-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.5), 0px 0px 5px 0px rgb(159,177,195);
	   -moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.5), 0px 0px 5px 0px rgb(159,177,195);
	        box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.5), 0px 0px 5px 0px rgb(159,177,195);
}
header#header * {
	-webkit-transition-property:font-size,padding,margin;
	-webkit-transition-duration:0.2s;
	-webkit-transition-timing-function:linear;
}
header#header nav {
	height:100%;
}
header#header nav * {
	vertical-align:top;
}
header#header nav a.button {
	padding:6px 10px;
	font-size:16px;
}
header#header nav h1 {
	display:inline-block;
	font-size:32px;
	font-weight:normal;
	margin-right:8px;
	margin-top:-2px;
}

#message {
	background-color:#FEFDD5;
	color:black;
	/*border:1px solid #808080;*/
	border:0px none transparent;
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
	-webkit-box-shadow:2px 2px 6px 2px rgba(0,0,0,0.4);
	   -moz-box-shadow:2px 2px 6px 2px rgba(0,0,0,0.4);
	        box-shadow:2px 2px 6px 2px rgba(0,0,0,0.4);
	vertical-align:middle;
	width:640px;
	margin:-16px auto;
	padding:6px 6px 5px;
	position:relative;
}
#message .closeButton {
	float:right;
	margin:-4px -4px 4px 4px;
}

footer {
	display:block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	padding:8px;
	
	background-color:#4C4C4C;
	-webkit-box-shadow:inset 0px 3px 8px 0px rgba(0,0,0,0.5);
	   -moz-box-shadow:inset 0px 3px 8px 0px rgba(0,0,0,0.5);
	        box-shadow:inset 0px 3px 8px 0px rgba(0,0,0,0.5);
	
	
	text-align:center;
	font-size:10px;
	color:#C3C3C3;
}
footer a {
	color:#C3C3C3;
	text-decoration:underline;
}
footer a:hover {
	color:#D4D4D4;
}
footer a:active {
	color:#CCCCCC;
}

#main {
	margin:0px;
	padding:12px;
	background-color:#FAFBFC;
}

.formtable {
	display:block;
	width:100%;
	max-width:600px;
}
.formtable td {
	/*vertical-align:top;*/
}
.formtable td:first-child {
	text-align:right;
	width:1%;
}
.formtable textarea {
	width:100%;
}
.formtable input[type="text"] {
	width:100%;
	max-width:400px;
}

@media (max-width:1000px) {
	header#header nav h1 {
		font-size:24px;
		margin-top:-4px;
	}
	header#header nav a {
		margin:0px;
		padding:13px 8px;
	}
	#main {
		padding:0px 4px;
	}
}
@media (max-width:600px) {
	header#header {
		font-size:13px;
		height:32px;
	}
	header#header nav h1 {
		font-size:16px;
		margin-top:0px;
	}
	header#header nav a {
		padding-top:7px;
	}
	#main {
		padding:0px 2px;
	}
}

#leftSide {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	
	float:left;
	width:168px;
	min-height:100%;
	padding:8px;
	
	background-color:#E4F0FD;
	-webkit-box-shadow:inset 0px 0px 0px 1px white;
	   -moz-box-shadow:inset 0px 0px 0px 1px white;
	        box-shadow:inset 0px 0px 0px 1px white;
	border-right:1px solid #93ABC3;
}
#middle {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	width:100%;
	max-width:720px;
	padding-left:180px;
	padding-top:12px;
}
#middle h2 {
	margin:0px;
}
#middle table {
	width:100%;
}

@media (max-width:600px) {
	#leftSide {
		margin-left:-4px;
	}
	#middle {
		padding-left:168px;
	}
}

.star {
	background-color:transparent;
	background-image:url("/static/images/star.png");
	background-position:0px 0px;
	border:0px none transparent;
	display:inline-block;
	width:24px;
	height:24px;
	cursor:pointer;
}
.star:hover {
	background-position:-24px 0px;
}
.star:active {
	background-position:-48px 0px;
}
.star.checked {
	background-position:0px -24px;
}
.star.checked:hover {
	background-position:-24px -24px;
}
.star.checked:active {
	background-position:-48px -24px;
}
.star.error {
	background-position:0px -48px;
}
.star.error:hover {
	background-position:-24px -48px;
}
.star.error:active {
	background-position:-48px -48px;
}
