/* ---- aside ---- */
aside {
	display:block;
	text-align:center;
}
aside[data-side="right"] {
	float:right;
	margin-left:8px;
	margin-right:0px;
	text-align:left;
}
aside[data-side="left"] {
	float:left;
	margin-left:0px;
	margin-right:8px;
	text-align:left;
}

@media (max-width:900px) {
	aside, aside[data-side] {
		float:none;
		margin:auto;
		text-align:center;
	}
	aside, aside > iframe, aside > img {
		max-width:100%;
	}
}

/* ---- grid layout ---- */
.grid {
	text-align: center;
	list-style-type: none;
	margin: -24px;
	padding: 8px;
}
	.grid .grid {
		margin: -16px;
	}
	.grid > li {
		display: inline-block;
		overflow: hidden;
		width: 47%;
		/*height: 96px;*/
		margin: 8px 1%;
		vertical-align: top;
		text-align: left;
	}
		.grid > li.big {
			min-height: 192px;
		}
		.grid > li:not(.big) {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.grid > li h1, .grid > li h2, .grid > li h3 {
			margin: 0.5em 0em;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	.grid.extList > li {
		padding: 0;
		overflow: visible;
	}
		.grid.extList > li > a {
			display: block;
			margin: 0;
			width: 100%;
			height: 100%;
			text-decoration: none;
			overflow: hidden;
		}
		.grid.extList > li > a:active {
			background-color: #F0F0F0;;
		}
		.grid.extList > li h3 {
			margin-top: 4px;
		}
		.grid.extList > li p {
			overflow: hidden;
			white-space: normal;
			font-size: 12px;
			max-height: 32px;
		}
@media (max-width: 1000px) {
	ul.grid > li {
		display:block;
		width:95%;
		margin: 16px auto;
	}
}

/* ---- star buttons ---- */
.star {
	background-color:transparent;
	background-image:url("/static/images/star.png");
	background-position:0px 0px;
	border:0px none transparent;
	display:inline-block;
	width:24px;
	height:24px;
	cursor:pointer;
}
.star:hover {
	background-position:-24px 0px;
}
.star:active {
	background-position:-48px 0px;
}
.star.checked {
	background-position:0px -24px;
}
.star.checked:hover {
	background-position:-24px -24px;
}
.star.checked:active {
	background-position:-48px -24px;
}
.star.error {
	background-position:0px -48px;
}
.star.error:hover {
	background-position:-24px -48px;
}
.star.error:active {
	background-position:-48px -48px;
}
