.buttonGroup {
	white-space:nowrap;
	display:inline-block;
}
.buttonGroup button, .buttonGroup .button {
	margin-left:0px;
	margin-right:0px;
	border-left-width:0px;
	-webkit-border-radius:0px;
	   -moz-border-radius:0px;
	        border-radius:0px;
}
.buttonGroup button:first-child, .buttonGroup .button:first-child {
	border-left-width:1px;
	   -webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	       -moz-border-radius-topleft:3px;
	    -moz-border-radius-bottomleft:3px;
	           border-top-left-radius:3px;
	        border-bottom-left-radius:3px;
}
.buttonGroup button:last-child, .buttonGroup .button:last-child {
	border-right-width:1px;
	   -webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	       -moz-border-radius-topright:3px;
	    -moz-border-radius-bottomright:3px;
	           border-top-right-radius:3px;
	        border-bottom-right-radius:3px;
}


.star {
	background-color:transparent;
	background-image:url("/static/images/star.png");
	background-position:0px 0px;
	border:0px none transparent;
	display:inline-block;
	width:24px;
	height:24px;
	cursor:pointer;
}
.star:hover {
	background-position:-24px 0px;
}
.star:active {
	background-position:-48px 0px;
}
.star.checked {
	background-position:0px -24px;
}
.star.checked:hover {
	background-position:-24px -24px;
}
.star.checked:active {
	background-position:-48px -24px;
}
.star.error {
	background-position:0px -48px;
}
.star.error:hover {
	background-position:-24px -48px;
}
.star.error:active {
	background-position:-48px -48px;
}
