/* ---- aside ---- */
aside {
	display:block;
	text-align:center;
}
aside[data-side="right"] {
	float:right;
	margin-left:8px;
	margin-right:0px;
	text-align:left;
}
aside[data-side="left"] {
	float:left;
	margin-left:0px;
	margin-right:8px;
	text-align:left;
}

@media (max-width:900px) {
	aside, aside[data-side] {
		float:none;
		margin:auto;
		text-align:center;
	}
	aside, aside > iframe, aside > img {
		max-width:100%;
	}
}

/* ---- grid layout ---- */
.grid {
	text-align: center;
	list-style-type: none;
	margin: -24px;
	padding: 8px;
}
	.grid .grid {
		margin: -16px;
	}
	.grid > li {
		display: inline-block;
		margin: 8px 7px;
		width: 45%;
		width: calc(50% - 17px);
		
		vertical-align: top;
		text-align: left;
	}
@media (max-width: 1000px) {
	.grid > li {
		display: block;
		margin: 16px auto;
		width: 95%;
		width: calc(100% - 7px);
	}
	.grid .grid > li {
		display: inline-block;
		margin: 8px 7px;
		width: 45%;
		width: calc(50% - 17px);
	}
}
@media (max-width: 600px) {
	.grid .grid > li {
		display:block;
		margin: 16px auto;
		width: 95%;
		width: calc(100% - 7px);
	}
}

/* ---- star buttons ---- */
.star {
	background-color:transparent;
	background-image:url("/static/images/star.png");
	background-position:0px 0px;
	border:0px none transparent;
	display:inline-block;
	width:24px;
	height:24px;
	cursor:pointer;
}
.star:hover {
	background-position:-24px 0px;
}
.star:active {
	background-position:-48px 0px;
}
.star.checked {
	background-position:0px -24px;
}
.star.checked:hover {
	background-position:-24px -24px;
}
.star.checked:active {
	background-position:-48px -24px;
}
.star.error {
	background-position:0px -48px;
}
.star.error:hover {
	background-position:-24px -48px;
}
.star.error:active {
	background-position:-48px -48px;
}
