<section id="main">
	<h1 style="margin:0em;">404 :(</h1>
	<p>The page you requested could not be found.</p>
	<p>Perhaps one of these links will get you where you want to go?</p>
	<ul style="line-height:130%;margin-left:-1em;">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About Wave Extensions</a></li>
		<li><a href="/gallery/gadgets">Gadgets</a></li>
		<li><a href="/gallery/robots">Robots</a></li>
		<br />
		<li><a href="/dev">Developer Dashboard</a></li>
		<li><a href="/docs/api">API Documentation</a></li>
	</ul>
</section>
