<section class="middle card z1">
	<h1 class="big">Error 404 :(</h1>
	<h2>The page you requested could not be found.</h2>
	<br />
	<p>If you are new to the Wave Extensions Gallery, you may want to start by <a href="/about">learning about wave and wave extensions</a>, or just start from <a href="/">the home page</a>.</p>
	<p>If you came to browse the gallery, feel free to look at available <a href="/gallery/gadgets">gadgets</a> and <a href="/gallery/robots">robots</a>.</p>
	<p>If you develop your own wave extensions, you can add them to the gallery from your <a href="/dev">developer dashboard</a>.</p>
	<p>If you would like to integrate the Wave Extensions Gallery into your own product, check out the <a href="/docs/api">WEG API documentation</a>.</p>
</section>
