<h1>About</h1>
<a name="aboutwave"></a>
<div style="min-height:320px;">
	<h2>What is wave?</h2>
	<aside>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/rDu2A3WzQpo?rel=0" frameborder="0" allowfullscreen></iframe>
	</aside>
	<p>
		Wave is e-mail, if it were invented today.  E-mail was created over forty years ago and performs much like &ldquo;snail mail.&rdquo;  Wave built on e-mail by taking the best of newer technologies, such as blogs, wikis, word processors, online bulletin boards, and media sharing sites, and bringing them together into one tool.
	</p>
	<p>
		<strong>Wave is equal parts conversation and document.</strong>  People can communicate and work together with richly formatted text, gadgets, robots and more.
	</p>
	<p>
		<strong>Wave is shared.</strong>  Any participant can reply anywhere in the message, edit the content and add participants at any point in the process.
	</p>
	<p>
		<strong>Wave is live.</strong>  With live transmission as you type, participants on a wave can have faster conversations, see edits and interact with extensions in real-time.
	</p>
	<br />
	<p style="font-size:smaller;">
		Want to learn even more about wave?  Watch Google's <a href="http://www.youtube.com/watch?v=v_UyVmITiYQ" target="_blank">really long video</a>.
	</p>
</div>

<a name="aboutext"></a>
<hr />

<div style="min-height:325px;">
	<h2>What are wave extensions?</h2>
	<aside data-side="left">
		<img src="/static/images/gadgets_collage.png" alt="map and chess gadget thumbnails" />
	</aside>
	<p>
		Wave extensions let you add more features to wave, kind of like the way extensions in Chrome or Firefox let you add features to your browser.  Extensions come in two main types: gadgets and robots.
	</p>
	<p>
		Gadgets get embedded in waves, and can be used for all sorts of things&mdash;voting, drawing pictures, looking up a map, playing games, you name it.  And just like the rest of wave, gadgets are live.  When one person updates a gadget, everyone else sees it in real-time.
	</p>
	<p>
		Robots get added to waves just like other participants, and can interact with the other participants on the wave&mdash;both real people and other robots.  Just like your human friends, robots can create and edit messages, add gadgets, and change fonts, colors, and formatting.  And as with humans, robots can see your changes and respond in real-time.
	</p>
	<br />
	<p style="font-size:smaller;">
		Want to learn how to make your own extensions?  <a href="http://www.waveprotocol.org/wave-apis" target="_blank">Click here</a>.
	</p>
</div>

<a name="trywave"></a>
<hr />

<div>
	<h2>How can I try out wave?</h2>
	<p>
		There are a few different wave-based services available.
	</p>
	<ul>
		<li>
			<a href="http://waveinabox.net" target="_blank">WaveInABox.net</a> - the demo server for the <a href="http://incubator.apache.org/wave" target="_blank">Wave-In-A-Box</a> project
		</li>
		<li>
			<a href="http://wavereactor.appspot.com" target="_blank">WaveReactor</a> - a demo server for the <a href="http://code.google.com/p/walkaround" target="_blank">Walkaround</a> project
		</li>
		<li>
			<a href="http://co-meeting.com">Co-meeting</a>* - a version of wave designed for teams
		</li>
		<li>
			<a href="http://rizzoma.com">Rizzoma</a>*
		</li>
		<li style="text-decoration:line-through;">
			<a href="http://wave.google.com">Google Wave</a> - Google's original wave service (no longer available)
		</li>
	</ul>
	<p>
		*does not currently support extensions
	</p>
</div>
