<section id="main">
	<a name="aboutwave"></a><!-- putting the anchor here compensates for the header -->
	<h1>About</h1>
	<div style="min-height:320px;">
		<h2>What is wave?</h2>
		<aside data-side="right">
			<iframe style="margin:-24px 0px 0px;" width="560" height="315" src="http://www.youtube.com/embed/rDu2A3WzQpo?rel=0" frameborder="0" allowfullscreen></iframe>
		</aside>
		<p>
			Wave is e-mail, if it were invented today.  E-mail was created over forty years ago and performs much like &ldquo;snail mail.&rdquo;  Wave built on e-mail by taking the best of newer technologies, such as blogs, wikis, word processors, online bulletin boards, and media sharing sites, and bringing them together into one tool.
		</p>
		<p>
			<strong>Wave is equal parts conversation and document.</strong>  People can communicate and work together with richly formatted text, gadgets, robots and more.
		</p>
		<p>
			<strong>Wave is shared.</strong>  Any participant can reply anywhere in the message, edit the content and add participants at any point in the process.
		</p>
		<p>
			<strong>Wave is live.</strong>  With live transmission as you type, participants on a wave can have faster conversations, see edits and interact with extensions in real-time.
		</p>
		<br />
		<a name="aboutext"></a><!-- putting the anchor here compensates for the header -->
		<p style="font-size:smaller;">
			Want to learn even more about wave?  Watch Google's <a href="http://www.youtube.com/watch?v=v_UyVmITiYQ" target="_blank">really long video</a>.
		</p>
	</div>
	<hr />

	<div style="min-height:325px;">
		<h2>What are wave extensions?</h2>
		<aside data-side="left">
			<img src="/static/images/gadgets_collage.png" alt="map and chess gadget thumbnails" style="margin:-16px 0px 0px;" />
		</aside>
		<p>
			Wave extensions let you add more features to wave, kind of like the way extensions in Chrome or Firefox let you add features to your browser.  Extensions come in two main types: gadgets and robots.
		</p>
		<p>
			Gadgets get embedded in waves, and can be used for all sorts of things&mdash;voting, drawing pictures, looking up a map, playing games, you name it.  And just like the rest of wave, gadgets are live.  When one person updates a gadget, everyone else sees it in real-time.
		</p>
		<p>
			Robots get added to waves just like other participants, and can interact with the other participants on the wave&mdash;both real people and other robots.  Just like your human friends, robots can create and edit messages, add gadgets, and change fonts, colors, and formatting.  And as with humans, robots can see your changes and respond in real-time.
		</p>
		<br />
		<a name="aboutgallery"></a><!-- putting the anchor here compensates for the header -->
		<p style="font-size:smaller;">
			Want to learn how to make your own extensions?  <a href="http://www.waveprotocol.org/wave-apis" target="_blank">Click here</a>.
		</p>
	</div>
	
	<hr />
	
	<div>
		<h2>What is the Wave Extensions Gallery?</h2>
		<aside data-side="right">
			<img src="/static/images/weg_logo_250x250.png" alt="wave extensions gallery logo" style="margin:-48px -8px -24px -24px;" />
		</aside>
		<p>
			The Wave Extensions Gallery is a place to browse wave extensions.  Its goal is to make life easier for everyone in the world of wave.
		</p>
		<ul style="padding-left:20px;">
			<li>If you are a wave user, you can look up extensions and, if you find one you like, see how to use it in your own waves.</li>
			<li>If you have made your own wave extensions, you can upload them from your <a href="/dev">developer dashboard</a>.</li>
			<li>If you are a developer working on a wave client, you can use the <a href="/docs">Wave Extensions Gallery API</a> to pull extension data from the gallery instead of having to maintain your own list.</li>
		</ul>
		<p>
			The gallery benefits everyone&mdash;users have one central place to look, regardless of their wave providers; extension developers have one central place to list their extensions; and wave client developers can always get the latest extension information with little effort on their parts.
		</p>
		<br />
		<a name="trywave"></a><!-- putting the anchor here compensates for the header -->
		<p>Ready to go?  <a href="/gallery">Click here</a> to start browsing the gallery.</a></p>
	</div>
	
	<hr />
	
	<div>
		<h2>How can I try out wave?</h2>
		<p>
			There are a few different wave-based services available.
		</p>
		<ul style="line-height:150%;">
			<li>
				<a href="http://waveinabox.net" target="_blank">WaveInABox.net</a> - the demo server for the <a href="http://incubator.apache.org/wave" target="_blank">Wave-In-A-Box</a> project
			</li>
			<li>
				<a href="http://wavereactor.appspot.com" target="_blank">WaveReactor</a> - a demo server for the <a href="http://code.google.com/p/walkaround" target="_blank">Walkaround</a> project
			</li>
			<li>
				<a href="http://wiab.pro" target="_blank">WIAB.pro</a> - Wave-In-A-Box with additional features
			</li>
			<li>
				<a href="http://kune.cc" target="_blank">Kune</a> - a wave service with extra group management and social features
			</li>
			<li>
				<a href="http://co-meeting.com" target="_blank">Co-meeting</a>* - a version of wave designed for teams
			</li>
			<li>
				<a href="http://rizzoma.com" target="_blank">Rizzoma</a>
			</li>
			<li style="text-decoration:line-through;">
				<a href="http://wave.google.com" target="_blank">Google Wave</a> - Google's original wave service (no longer available)
			</li>
		</ul>
		<p>
			*does not currently support extensions
		</p>
	</div>
</section>
