<section class="middle card z1">
	<h1 style="margin:0em;">Account - {{ usernickname }}</h1>
	{{ useremail }} - <a href="{{ signouturl }}">Sign out</a>
	<br />
	<br />
	<h3>Your Starred Extensions</h3>
	<table class="borderless">
		<tr>
			<th><!-- Icon --></th>
			<th>Title</th>
			<th>Type</th>
			<th>URL/Address</th>
		</tr>
		{% for ext in extlist %}
			<tr>
				<td><a href="/gallery/info/{{ ext.extID }}"><img src="/gallery/icon/{{ ext.extID}}.png" style="width:24px;height:24px;" /></a></td>
				<td><a href="/gallery/info/{{ ext.extID }}">{% if ext.title %}{{ ext.title }}{% else %}[untitled]{% endif %}</a></td>
				<td style="text-transform: capitalize;">{% if ext.type %}{{ ext.type }}{% endif %}</td>
				<td>
					{% if ext.type == 'gadget' %}{{ ext.gadgetURL }}{% endif %}
					{% if ext.type == 'robot' %}{{ ext.robotAddress }}{% endif %}
				</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="3" style="text-align:center;">
					You have not starred any extensions.  <a href="/gallery">Click here</a> to browse the gallery.
				</td>
			</tr>
		{% endfor %}
	</table>
</section>
