<section id="main">
	<h1>Developer Dashboard</h1>
	<a href="/dev/new" style="text-decoration:none;"><button>New extension</button></a>
	<br />
	<br />
	<table cellpadding="4">
		<tr>
			<th><!-- Icon --></th>
			<th>Title</th>
			<th>Type</th>
			<th>Category</th>
			<th>ID</th>
			<th></th>
		</tr>
		{% for ext in extlist %}
			<tr>
				<td>{% if ext.icon %}<img src="/gallery/icon/{{ ext.extID }}.png" style="width:24px;height:24px;" />{% endif %}</td>
				<td>{% if ext.title %}{{ ext.title }}{% else %}[untitled]{% endif %}</td>
				<td>{% if ext.type %}{{ ext.type }}{% endif %}</td>
				<td>{% if ext.category %}{{ ext.category }}{% else %}other{% endif %}</td>
				<td>{{ ext.extID }}</td>
				<td>
					<a href="/dev/edit/{{ ext.extID }}" class="button">Edit</a>
					<button disabled="disabled">Delete</button>
					<a href="/gallery/info/{{ ext.extID }}" class="button">View in gallery
				</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="3" style="text-align:center;">
					You have no extensions.  <a href="/dev/new">Click here</a> to add one.
				</td>
			</tr>
		{% endfor %}
	</table>
	<br />
	<a href="/dev/new" style="text-decoration:none;"><button>New extension</button></a>
</section>
