<h1>Developer Dashboard</h1>
<a href="/dev/new" style="text-decoration:none;"><button>New extension</button></a>
<br />
<br />
<table cellpadding="4">
	<tr>
		<th>Title</th>
		<th>ID</th>
		<th></th>
	</tr>
	{% for ext in extlist %}
		<tr>
			<td>{% if ext.title %}{{ ext.title }}{% else %}[untitled]{% endif %}</td>
			<td>{{ ext.extID }}</td>
			<td>
				<a href="/dev/edit/{{ ext.extID }}" style="text-decoration:none;"><button>Edit</button></a>
				<button disabled="disabled">Delete</button>
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="3" style="text-align:center;">
				You have no extensions.  <a href="/dev/new">Click here</a> to add one.
			</td>
		</tr>
	{% endfor %}
</table>
<br />
<a href="/dev/new" style="text-decoration:none;"><button>New extension</button></a>
