<h1>Edit Extension</h1>
<form method="post">
	<table class="formtable">
		<tr>
			<td>
				<label for="title">Title:</label>
			</td>
			<td>
				<input type="text" maxlength="500" name="title" id="title" {% if ext.title %}value="{{ ext.title }}"{% endif %} />
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<label for="type-gadget">
					<input type="radio" name="type" value="gadget" id="type-gadget"{% if ext.type != "robot" %} checked="checked"{% endif %} />
					Gadget
				</label>
				<label for="type-robot">
					<input type="radio" name="type" value="robot" id="type-robot"{% if ext.type == "robot" %} checked="checked"{% endif %} />
					Robot
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<label for="description">Description:</label>
			</td>
			<td>
				<textarea name="description" id="description" style="height:10em;">{% if ext.description %}{{ ext.description }}{% endif %}</textarea>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a href="/dev" style="text-decoration:none;"><button title="Discard your changes and return to your developer dashboard">Discard Changes</button></a>
				<button type="submit">Save Changes</button>
			</td>
	</table>
</form>
