<script type="text/javascript">
	function showRow(id) {
		document.getElementById(id).style.display = "table-row";
	}
	function hideRow(id) {
		document.getElementById(id).style.display = "none";
	}
</script>
<section id="main">
	<h1>Edit Extension</h1>
	<form method="post" enctype="multipart/form-data">
		<table class="formtable">
			<tr>
				<td style="min-width: 100px;">
					<label for="title">Title:</label>
				</td>
				<td>
					<input type="text" maxlength="500" name="title" id="title" {% if ext.title %}value="{{ ext.title }}"{% endif %} />
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<label for="type-gadget" onclick="hideRow('robotInput'); showRow('gadgetInput');">
						<input type="radio" name="type" value="gadget" id="type-gadget"{% if ext.type != 'robot' %} checked="checked"{% endif %} />
						Gadget
					</label>
					<label for="type-robot" onclick="hideRow('gadgetInput'); showRow('robotInput');">
						<input type="radio" name="type" value="robot" id="type-robot"{% if ext.type == 'robot' %} checked="checked"{% endif %} />
						Robot
					</label>
				</td>
			</tr>
			<tr id="gadgetInput"{% if ext.type == 'robot' %} style="display: none;"{% endif %}>
				<td>
					<label for="gadgetURL">Gadget&nbsp;URL:</label>
				</td>
				<td>
					<input type="url" name="gadgetURL" id="gadgetURL"{% if ext.gadgetURL %} value="{{ ext.gadgetURL }}"{% endif %} placeholder="http://domain.ext/path/to/gadget.xml" />
				</td>
			</tr>
			<tr id="robotInput"{% if ext.type != 'robot' %} style="display: none;"{% endif %}>
				<td>
					<label for="robotAddress">Robot&nbsp;Address:</label>
				</td>
				<td>
					<input type="email" name="robotAddress" id="robotAddress"{% if ext.robotAddress %} value="{{ ext.robotAddress }}"{% endif %} placeholder="address@domain.ext" />
				</td>
			</tr>
			<tr style="vertical-align:top;">
				<td style="padding-top:4px;">
					<label for="description">
						Description:
						<br />
						<small>What does this extension do?  Why should people use it?</small>
					</label>
				</td>
				<td>
					<textarea name="description" id="description" style="height:10em;">{% if ext.description %}{{ ext.description }}{% endif %}</textarea>
				</td>
			</tr>
			<tr style="vertical-align:top;">
				<td style="padding-top:6px;">
					<label for="icon">
						Icon:
						<br />
						<small>128&times;128 PNG</small>
					</label>
				</td>
				<td>
					<input type="file" name="icon" id="icon" accept="image/png" />
					{% if ext.icon %}<br /><img src="/gallery/icon/{{ ext.extID }}.png" />{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label for="category">Category:</label>
				</td>
				<td>
					<select name="category" id="category">
						<option value="other"       {% if ext.category == 'other' %}        selected{% endif %}>Other</option>
						<option value="game"        {% if ext.category == 'game' %}         selected{% endif %}>Game</option>
						<option value="image"       {% if ext.category == 'image' %}        selected{% endif %}>Image</option>
						<option value="map"         {% if ext.category == 'map' %}          selected{% endif %}>Map</option>
						<option value="music"       {% if ext.category == 'music' %}        selected{% endif %}>Music</option>
						<option value="productivity"{% if ext.category == 'productivity' %} selected{% endif %}>Productivity</option>
						<option value="search"      {% if ext.category == 'search' %}       selected{% endif %}>Search</option>
						<option value="team"        {% if ext.category == 'team' %}         selected{% endif %}>Team</option>
						<option value="time"        {% if ext.category == 'time' %}         selected{% endif %}>Time</option>
						<option value="travel"      {% if ext.category == 'travel' %}       selected{% endif %}>Travel</option>
						<option value="utility"     {% if ext.category == 'utility' %}      selected{% endif %}>Utility</option>
						<option value="video"       {% if ext.category == 'video' %}        selected{% endif %}>Video</option>
						<option value="voice"       {% if ext.category == 'voice' %}        selected{% endif %}>Voice</option>
						<option value="voting"      {% if ext.category == 'voting' %}       selected{% endif %}>Voting</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<a href="/dev" class="button" title="Discard your changes and return to your developer dashboard">Discard Changes</a>
					<button type="submit">Save Changes</button>
				</td>
			</tr>
		</table>
	</form>
</section>
