<section id="leftSide" style="padding-left: 16px;">
	<h3><a href="/gallery">Gallery</a></h3>
	<ul style="line-height: 150%;">
		<li>
			<a href="/gallery/gadgets">Gadgets</a>
		</li>
		<li>
			<a href="/gallery/robots">Robots</a>
		</li>
	</ul>
	<h3>Categories</h3>
	<ul style="line-height: 150%;">
		<li>
			<a href="/gallery/category/game">Game</a>
		</li>
		<li>
			<a href="/gallery/category/image">Image</a>
		</li>
		<li>
			<a href="/gallery/category/map">Map</a>
		</li>
		<li>
			<a href="/gallery/category/music">Music</a>
		</li>
		<li>
			<a href="/gallery/category/productivity">Productivity</a>
		</li>
		<li>
			<a href="/gallery/category/search">Search</a>
		</li>
		<li>
			<a href="/gallery/category/team">Team</a>
		</li>
		<li>
			<a href="/gallery/category/time">Time</a>
		</li>
		<li>
			<a href="/gallery/category/travel">Travel</a>
		</li>
		<li>
			<a href="/gallery/category/utility">Utility</a>
		</li>
		<li>
			<a href="/gallery/category/video">Video</a>
		</li>
		<li>
			<a href="/gallery/category/voice">Voice</a>
		</li>
		<li>
			<a href="/gallery/category/voting">Voting</a>
		</li>
		<li>
			<a href="/gallery/category/other">Other</a>
		</li>
	</ul>
</section>
<section id="middle">
	<h1 style="margin:0em;">404 :'(</h1>
	<p>The extension could not be found.  Perhaps you mistyped the URL, or the extension's developer removed the extension.</p>
	<p><a href="/gallery">Click here</a> to return to the extensions gallery main page, or choose one of the links below.</p>
	<ul style="line-height:130%;">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About Wave Extensions</a></li>
		<li><a href="/gallery/gadgets">Gadgets</a></li>
		<li><a href="/gallery/robots">Robots</a></li>
		<br />
		<li><a href="/dev">Developer Dashboard</a></li>
	</ul>
</section>
