<section id="leftSide">
</section>
<section id="middle">
	<h1 style="margin:0em;">404 :'(</h1>
	<p>The extension could not be found.  Perhaps you mistyped the URL, or the extension's developer removed the extension.</p>
	<p><a href="/gallery">Click here</a> to return to the extensions gallery main page, or choose one of the links below.</p>
	<ul style="line-height:130%;margin-left:-1em;">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About Wave Extensions</a></li>
		<li><a href="/gallery/gadgets">Gadgets</a></li>
		<li><a href="/gallery/robots">Robots</a></li>
		<br />
		<li><a href="/dev">Developer Dashboard</a></li>
	</ul>
</section>
