<section id="middle">
	<h1>{% if query %}Results for &ldquo;{{ query }}&rdquo;{% else %}List Of Extensions{% endif %}</h1>
	<table>
	{% for ext in extlist %}
		<tr>
			<td><a href="/gallery/info/{{ ext.extID }}"><img src="{% if ext.icon %}/gallery/icon/{{ ext.extID}}.png{% else %}/static/images/gadget_icon_128x128.png{% endif %}" style="width:64px;height:64px;" /></a></td>
			<td><a href="/gallery/info/{{ ext.extID }}"><h3>{% if ext.title %}{{ ext.title }}{% else %}[untitled]{% endif %}</h3></a></td>
			<td>{% if ext.type %}{{ ext.type }}{% endif %}</td>
			<td>
				<div class="rating">
					<div class="dislikes"{% if ext.downvotePercent %}style="width:{{ ext.downvotePercent }}%;"{% endif %}></div>
					<div class="likes"{% if ext.upvotePercent %}style="width:{{ ext.upvotePercent }}%;"{% endif %}></div>
				</div>
			</td>
		</tr>
	{% empty %}
		No results :(
	{% endfor %}
	</table>
</section>
