<!--
<h3>Categories</h3>
<ul style="line-height: 150%;">
	<li>
		<a href="/gallery/category/game">Game</a>
	</li>
	<li>
		<a href="/gallery/category/image">Image</a>
	</li>
	<li>
		<a href="/gallery/category/map">Map</a>
	</li>
	<li>
		<a href="/gallery/category/music">Music</a>
	</li>
	<li>
		<a href="/gallery/category/productivity">Productivity</a>
	</li>
	<li>
		<a href="/gallery/category/search">Search</a>
	</li>
	<li>
		<a href="/gallery/category/team">Team</a>
	</li>
	<li>
		<a href="/gallery/category/time">Time</a>
	</li>
	<li>
		<a href="/gallery/category/travel">Travel</a>
	</li>
	<li>
		<a href="/gallery/category/utility">Utility</a>
	</li>
	<li>
		<a href="/gallery/category/video">Video</a>
	</li>
	<li>
		<a href="/gallery/category/voice">Voice</a>
	</li>
	<li>
		<a href="/gallery/category/voting">Voting</a>
	</li>
	<li>
		<a href="/gallery/category/other">Other</a>
	</li>
</ul>
-->
<h1 style="margin-bottom: 16px;">{% if query %}{{ query }}{% else %}List Of Extensions{% endif %}</h1>
<ol class="grid extList">
	{% for ext in extlist %}
		<li>
			<a href="/gallery/info/{{ ext.extID }}" class="card small">
				<img src="{% if ext.icon %}/gallery/icon/{{ ext.extID}}.png{% else %}/static/images/gadget_icon_128x128.png{% endif %}" style="width: 72px; height: 72px; float: left; margin: -4px 8px -4px -4px;" />
				<p style="text-transform: capitalize; float: right; font-size: smaller; margin-top: 0;">{% if ext.type %}{{ ext.type }}{% endif %}</p>
				<h3>{% if ext.title %}{{ ext.title }}{% else %}[untitled]{% endif %}</h3>
				<div style="float: right; text-align: center; margin-left: 8px;">
					<div class="rating">
						<div class="dislikes"{% if ext.downvotePercentage %}style="width: {{ ext.downvotePercentage }}%;"{% endif %}></div>
						<div class="likes"{% if ext.upvotePercentage %}style="width: {{ ext.upvotePercentage }}%;"{% endif %}></div>
					</div>
					<div class="ratingCount">{% if ext.ratingCount %}{{ ext.ratingCount }}{% else %}0{% endif %} rating{% if ext.ratingCount != 1 %}s{% endif %}</div>
				</div>
				<p>{% if ext.description %}{{ ext.htmlDescription|striptags }}{% endif %}</p>
			</a>
		</li>
	{% empty %}
		<h3 style="text-align: center;">No results :(</h3>
	{% endfor %}
</ol>
