<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="description" content="An index of wave gadgets, robots, and other extensions for use with Google Wave, Wave-In-A-Box, Walkaround, Rizzoma, Co-Meeting, and other wave systems." />
		<title>{% if title %}{{ title }} - {% endif %}Wave Extension Gallery</title>
		<link rel="stylesheet" type="text/css" href="/static/styles/elems.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/ui.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/widgets.css" />
		{% if stylesheet %}
			<link rel="stylesheet" type="text/css" href="/static/styles/{{ stylesheet }}.css" />
		{% endif %}
		<script type="text/javascript">
			function hideMessage() {
				document.getElementById("message").style.display = "none";
			}
		</script>
	</head>
	<body>
		<header id="header">
			<nav>
				<a href="/"><h1>Wave Extensions Gallery</h1></a>
				<div class="buttonGroup">
					<a href="/gallery/gadgets" class="button">Gadgets</a><a href="/gallery/robots" class="button">Robots</a>
				</div>
				&nbsp;
				<a href="/about" class="button">About</a>
				<a href="/account" class="button" style="float:right;">Your account</a>
			</nav>
		</header>
		{% if message %}
			<div id="message">
				<button class="closeButton" onclick="hideMessage();">&times;</button>
				{{ message|safe }}
			</div>
		{% endif %}
