<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="initial-scale=1" />
		<meta name="description" content="An index of wave gadgets, robots, and other extensions for use with Google Wave, Wave-In-A-Box, Walkaround, Rizzoma, Co-Meeting, and other wave systems." />
		<title>{% if title %}{{ title }} - {% endif %}Wave Extension Gallery</title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/gadget_icon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/styles/typography.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/elems.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/widgets.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/layout.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/depth.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/animation.css" />
		{% if stylesheet %}
			<link rel="stylesheet" type="text/css" href="/static/styles/{{ stylesheet }}.css" />
		{% endif %}
		<script type="text/javascript">
			function hideMessage() {
				document.getElementById("message").style.display = "none";
			}
		</script>
		<script type="text/javascript" src="/static/scripts/navcontrol.js"></script>
		<!--[if lt IE 9]>
			<script type="text/javascript">
				document.createElement('header');
				document.createElement('nav');
				document.createElement('section');
				document.createElement('aside');
				document.createElement('footer');
			</script>
		<![endif]-->
	</head>
	<body>
		<!--[if !IE]>-->
		<header id="header">
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<div id="header">
		<![endif]--> 
			<form action="/gallery/search" method="GET" style="float: right;">
				<input type="search" placeholder="Search the gallery" name="q" accesskey="/" /><button type="submit" class="searchButton"><img src="/static/images/search.png" /></button>
			</form>
			<button id="navButton">
				<div style="margin-top: -2px;">&equiv;</div>
			</button>
			<h1>Wave Extensions Gallery</h1>
		<!--[if !IE]>-->
		</header>
		<nav id="nav">
		<!--<![endif]-->
		<!--[if lt IE 9]>
		</div>
		<div id="nav">
		<![endif]--> 
			<h4>Home</h4>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/account">Your account</a>
				</li>
			</ul>
			<h4>Browse</h4>
			<ul>
				<li>
					<a href="/gallery/gadgets">Gadgets</a>
				</li>
				<li>
					<a href="/gallery/robots">Robots</a>
				</li>
			</ul>
			<h4>Help and support</h4>
			<ul>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/docs/help">Help</a>
				</li>
			</ul>
			<h4>For developers</h4>
			<ul class="small">
				<li>
					<a href="/dev">Developer dashboard</a>
				</li>
				<li>
					<a href="/docs/api">API documentation</a>
				</li>
			</ul>
		<!--[if !IE]>-->
		</nav>
		<!--<![endif]-->
		<!--[if lt IE 9]>
		</div>
		<![endif]-->
		{% if message %}
			<div id="message" class="card z2">
				<button class="closeButton" onclick="hideMessage();">&times;</button>
				{{ message|safe }}
			</div>
		{% endif %}
