<h1>Welcome!</h1>
<p>This is an incomplete version of the Wave Extensions Gallery, which will, eventually, provide and index of wave extensions and hosting for wave gadgets.</p>
<p>Below is a list of things you can try out:</p>
<ul style="line-height:140%;">
	<li>Navigate to <a href="/about">/about</a> to view information about wave and wave extensions</li>
	<li>Navigate to <a href="/dev">/dev</a> to view your developer dashboard, from which you can:</li>
	<ul>
		<li>See a list of extensions you have added</li>
		<li>Add new extensions</li>
		<li>Edit extension entries</li>
		<li>View extension pages in the gallery</li>
	</ul>
	<li>Navigate to <a href="/gallery">/gallery</a>, <a href="/gallery/gadgets">/gallery/gadgets</a>, or <a href="/gallery/robots">/gallery/robots</a> to browse the gallery (NOT YET IMPLEMENTED)</li>
	<li>Navigate to <u>/gallery/[extension ID]</u> to view an extension's info page</li>
	<li>Navigate to <u>/account</u> to view your account information, including your starred extensions (NOT YET IMPLEMENTED)</li>
</ul>
