<section id="leftSide">
	<img src="{% if ext.icon %}/gallery/icon/{{ ext.extID }}.png{% else %}/static/images/gadget_icon_128x128.png{% endif %}" alt="icon" class="extIcon" />
	<br />
	<table>
		<tr>
			<td>
				<a href="/account/{% if starred %}un{% endif %}star/{{ ext.extID }}" class="star{% if starred %} checked{% endif %}"></a>
			</td>
			<td>
				Add this extension to your favorites for easy access
			</td>
		</tr>
	</table>
	<hr />
	<div style="text-align:center;">
		<a href="/gallery/downvote/{{ ext.extID }}" class="button{% if userRating == -1 %} active{% endif %}" style="padding:3px 3px 0px;"><img src="/static/images/downvote.png" alt="&#8722;" /></a>
		<a href="/gallery/nullvote/{{ ext.extID }}" class="button{% if userRating == 0 %} active{% endif %}" style="padding:3px 3px 0px;"><img src="/static/images/nullvote.png" alt="0" /></a>
		<a href="/gallery/upvote/{{ ext.extID }}"   class="button{% if userRating == 1 %} active{% endif %}" style="padding:3px 3px 0px;"><img src="/static/images/upvote.png"   alt="+" /></a>
		<div class="rating">
			<div class="dislikes"{% if downvotePercent %}style="width:{{ downvotePercent }}%;"{% endif %}></div>
			<div class="likes"{% if upvotePercent %}style="width:{{ upvotePercent }}%;"{% endif %}></div>
		</div>
		<div class="ratingCount">{% if ratingCount %}{{ ratingCount }}{% else %}0{% endif %} rating{% if ratingCount != 1 %}s{% endif %}</div>
	</div>
	<hr />
	<!-- +1 button -->
	<div class="g-plusone" data-size="medium"></div>
	<br />
	<!-- Like button -->
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="160" data-show-faces="false"></div>
	<br />
	<!-- Tweet button -->
	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	<hr />
	Category: <a href="/gallery/category/{{ ext.category }}">{{ ext.category }}</a>
	<br />
</section>
<section id="middle">
	<h2>{{ ext.title }}</h2>
	{% if devname %}<small>By {{ devname }}</small>{% endif %}
	<p id="description">{{ ext.description }}</p>
	<hr />
	{% if ext.type == 'gadget' and ext.gadgetURL %}
	<p>
		Gadget URL: <b>{{ ext.gadgetURL }}</b>
		<br >
		<a href="/docs/help/addgadget?gadgetURL={{ ext.gadgetURL }}" target="_blank" style="font-size: smaller;">What should I do with this link?</a>
	</p>
	{% endif %}
	{% if ext.type = 'robot' and ext.robotAddress %}
	<p>
		Robot address: <b>{{ ext.robotAddress }}</b>
	</p>
	{% endif %}
</section>


<script type="text/javascript">
	// G+
	(function() {
		var po = document.createElement("script");
		po.type = "text/javascript";
		po.async = true;
		po.src = "https://apis.google.com/js/plusone.js";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po, s);
	})();
	
	var loadScript = function(d, s, id, src) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s);
		js.type = "text/javascript"
		js.id = id;
		js.src = src;
		fjs.parentNode.insertBefore(js, fjs);
	}
	// FB
	loadScript(document, "script", "facebook-jssdk", "//connect.facebook.net/en_US/all.js#xfbml=1");
	// Twitter
	loadScript(document, "script", "twitter-wjs", "//platform.twitter.com/widgets.js");
	delete loadScript;
</script>
