<section id="main">
	<ul class="grid">
		<li class="big">
			<img src="/static/images/gadget_icon_128x128.png" alt="icon" style="float:left;margin-right:16px;margin-bottom:16px;" />
			<h1><a href="/gallery">Browse the gallery &rarr;</a><h1> 
		</li>
		<li class="big">...</li>
		<br />
		<li>
			<a href="/about"><img src="/static/images/wave_logo_simple_128x96.png" alt="wave logo" style="float:left;margin:-16px 16px -16px -4px;" /></a>
			<h3><a href="/about#aboutwave">What is wave?</a></h3>
			<h3><a href="/about#aboutext">What are wave extensions?</a></h3>
		</li>
		<li>
			<h3><a href="/docs">Information for developers</a></h3>
			<h3><a href="/dev">Developer dashboard</a></h3>
		</li>
	</ul>
</section>
